# 3 - Population Data

Extract population data from IBGE (Instituto Brasileiro de Geografia e Estatística).

These data are only available annually (whereas natality data is available monthly). The data for 2015-2021 are projections from the census before last (in 2010). The data for 2022 is a preview for the last census (in 2022).

In [16]:
import os
import re
import pandas as pd

## Experiment with one set of population data

Let's try out the transformations so we can make sure it'll go smoothly when we loop through all the population data.

In [77]:
# read the file
popdf = pd.read_excel(r'../data/external/POP2021_20221212.xls', sheet_name = 'BRASIL E UFs', skiprows = 1)
popdf

,BRASIL E UNIDADES DA FEDERAÇÃO,Unnamed: 1,POPULAÇÃO ESTIMADA
0,Brasil,NaN,213317639
1,Região Norte,NaN,18906962
2,Rondônia,NaN,1815278
3,Acre,NaN,906876
4,Amazonas,NaN,4269995
5,Roraima,NaN,652713
6,Pará,NaN,8777124
7,Amapá,NaN,877613
8,Tocantins,NaN,1607363
9,Região Nordeste,NaN,57667842
10,Maranhão,NaN,7153262
11,Piauí,NaN,3.289.290(1)
12,Ceará,NaN,9.240.580(1)
13,Rio Grande do Norte,NaN,3560903
14,Paraíba,NaN,4059905
15,Pernambuco,NaN,9.674.793(2)
16,Alagoas,NaN,3.365.351(2)
17,Sergipe,NaN,2.338.474(3)
18,Bahia,NaN,14.985.284(3)
19,Região Sudeste,NaN,89632912
20,Minas Gerais,NaN,21411923
21,Espírito Santo,NaN,4108508
22,Rio de Janeiro,NaN,17463349
23,São Paulo,NaN,46649132
24,Região Sul,NaN,30402587
25,Paraná,NaN,11597484
26,Santa Catarina,NaN,7338473
27,Rio Grande do Sul,NaN,11466630
28,Região Centro-Oeste,NaN,16707336
29,Mato Grosso do Sul,NaN,2839188
30,Mato Grosso,NaN,3567234
31,Goiás,NaN,7.206.589(4)
32,Distrito Federal,NaN,3.094.325(4)
33,NaN,NaN,NaN
34,Fonte: IBGE. Diretoria de Pesquisas - DPE - C...,NaN,NaN
35,Notas:,NaN,NaN
36,(1) Diferença de 786 pessoas entre os Estados...,NaN,NaN
37,(2) Diferença de 456 pessoas entre os Estados...,NaN,NaN
38,(3) Diferença de 214 pessoas entre os Estados...,NaN,NaN
39,(4) Diferença de 2.658 pessoas entre o Estado...,NaN,NaN

In [78]:
# drop bogus column
popdf = popdf.drop(columns = 'Unnamed: 1')
popdf

                       BRASIL E UNIDADES DA FEDERAÇÃO POPULAÇÃO ESTIMADA
0                                              Brasil          213317639
1                                        Região Norte           18906962
2                                            Rondônia            1815278
3                                                Acre             906876
4                                            Amazonas            4269995
5                                             Roraima             652713
6                                                Pará            8777124
7                                               Amapá             877613
8                                           Tocantins            1607363
9                                     Região Nordeste           57667842
10                                           Maranhão            7153262
11                                              Piauí       3.289.290(1)
12                                              Ceará       9.240.580(1)
13                                Rio Grande do Norte            3560903
14                                            Paraíba            4059905
15                                         Pernambuco       9.674.793(2)
16                                            Alagoas       3.365.351(2)
17                                            Sergipe       2.338.474(3)
18                                              Bahia      14.985.284(3)
19                                     Região Sudeste           89632912
20                                       Minas Gerais           21411923
21                                     Espírito Santo            4108508
22                                     Rio de Janeiro           17463349
23                                          São Paulo           46649132
24                                         Região Sul           30402587
25                                             Paraná           11597484
26                                     Santa Catarina            7338473
27                                  Rio Grande do Sul           11466630
28                                Região Centro-Oeste           16707336
29                                 Mato Grosso do Sul            2839188
30                                        Mato Grosso            3567234
31                                              Goiás       7.206.589(4)
32                                   Distrito Federal       3.094.325(4)
33                                                NaN                NaN
34  Fonte: IBGE. Diretoria de Pesquisas - DPE -  C...                NaN
35                                             Notas:                NaN
36   (1) Diferença de 786 pessoas entre os Estados...                NaN
37   (2) Diferença de 456 pessoas entre os Estados...                NaN
38   (3) Diferença de 214 pessoas entre os Estados...                NaN
39   (4) Diferença de 2.658 pessoas entre o Estado...                NaN

In [80]:
# drop any rows containing NaN. This is the easiest way to eliminate the main table footer
popdf = popdf.dropna()
popdf

   BRASIL E UNIDADES DA FEDERAÇÃO POPULAÇÃO ESTIMADA
0                          Brasil          213317639
1                    Região Norte           18906962
2                        Rondônia            1815278
3                            Acre             906876
4                        Amazonas            4269995
5                         Roraima             652713
6                            Pará            8777124
7                           Amapá             877613
8                       Tocantins            1607363
9                 Região Nordeste           57667842
10                       Maranhão            7153262
11                          Piauí       3.289.290(1)
12                          Ceará       9.240.580(1)
13            Rio Grande do Norte            3560903
14                        Paraíba            4059905
15                     Pernambuco       9.674.793(2)
16                        Alagoas       3.365.351(2)
17                        Sergipe       2.338.474(3)
18                          Bahia      14.985.284(3)
19                 Região Sudeste           89632912
20                   Minas Gerais           21411923
21                 Espírito Santo            4108508
22                 Rio de Janeiro           17463349
23                      São Paulo           46649132
24                     Região Sul           30402587
25                         Paraná           11597484
26                 Santa Catarina            7338473
27              Rio Grande do Sul           11466630
28            Região Centro-Oeste           16707336
29             Mato Grosso do Sul            2839188
30                    Mato Grosso            3567234
31                          Goiás       7.206.589(4)
32               Distrito Federal       3.094.325(4)

In [83]:
# rename the columns
popdf.columns = 'state', 'population'
popdf

                  state     population
0                Brasil      213317639
1          Região Norte       18906962
2              Rondônia        1815278
3                  Acre         906876
4              Amazonas        4269995
5               Roraima         652713
6                  Pará        8777124
7                 Amapá         877613
8             Tocantins        1607363
9       Região Nordeste       57667842
10             Maranhão        7153262
11                Piauí   3.289.290(1)
12                Ceará   9.240.580(1)
13  Rio Grande do Norte        3560903
14              Paraíba        4059905
15           Pernambuco   9.674.793(2)
16              Alagoas   3.365.351(2)
17              Sergipe   2.338.474(3)
18                Bahia  14.985.284(3)
19       Região Sudeste       89632912
20         Minas Gerais       21411923
21       Espírito Santo        4108508
22       Rio de Janeiro       17463349
23            São Paulo       46649132
24           Região Sul       30402587
25               Paraná       11597484
26       Santa Catarina        7338473
27    Rio Grande do Sul       11466630
28  Região Centro-Oeste       16707336
29   Mato Grosso do Sul        2839188
30          Mato Grosso        3567234
31                Goiás   7.206.589(4)
32     Distrito Federal   3.094.325(4)

In [84]:
# retype the 'population' column to int.
# it won't go well because some cells have footnotes (directly in them, wtf?)
popdf['population'] = popdf['population'].astype(int)
popdf

ValueError: invalid literal for int() with base 10: '3.289.290(1)'

In [85]:
# we then must resort to regex to parse the numbers out

popdf['population'] = popdf['population'].astype('str').str.strip().str.replace(
    r'((?:\d?\d?\d\.?)*\d?\d?\d)\s?\(\d+\)', r'\1',
    regex = True
).str.replace('.','', regex = False).astype(int)

popdf

                  state  population
0                Brasil   213317639
1          Região Norte    18906962
2              Rondônia     1815278
3                  Acre      906876
4              Amazonas     4269995
5               Roraima      652713
6                  Pará     8777124
7                 Amapá      877613
8             Tocantins     1607363
9       Região Nordeste    57667842
10             Maranhão     7153262
11                Piauí     3289290
12                Ceará     9240580
13  Rio Grande do Norte     3560903
14              Paraíba     4059905
15           Pernambuco     9674793
16              Alagoas     3365351
17              Sergipe     2338474
18                Bahia    14985284
19       Região Sudeste    89632912
20         Minas Gerais    21411923
21       Espírito Santo     4108508
22       Rio de Janeiro    17463349
23            São Paulo    46649132
24           Região Sul    30402587
25               Paraná    11597484
26       Santa Catarina     7338473
27    Rio Grande do Sul    11466630
28  Região Centro-Oeste    16707336
29   Mato Grosso do Sul     2839188
30          Mato Grosso     3567234
31                Goiás     7206589
32     Distrito Federal     3094325

In [86]:
# we only want state populations, not aggregations by regions

regions_mask = popdf['state'].str.contains(r'((B|b)rasil|(R|r)egi)')
popdf = (popdf
    .drop(popdf.index[regions_mask])
    .reset_index(drop = True)
)
popdf

C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\2479675291.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = popdf['state'].str.contains(r'((B|b)rasil|(R|r)egi)')

                  state  population
0              Rondônia     1815278
1                  Acre      906876
2              Amazonas     4269995
3               Roraima      652713
4                  Pará     8777124
5                 Amapá      877613
6             Tocantins     1607363
7              Maranhão     7153262
8                 Piauí     3289290
9                 Ceará     9240580
10  Rio Grande do Norte     3560903
11              Paraíba     4059905
12           Pernambuco     9674793
13              Alagoas     3365351
14              Sergipe     2338474
15                Bahia    14985284
16         Minas Gerais    21411923
17       Espírito Santo     4108508
18       Rio de Janeiro    17463349
19            São Paulo    46649132
20               Paraná    11597484
21       Santa Catarina     7338473
22    Rio Grande do Sul    11466630
23   Mato Grosso do Sul     2839188
24          Mato Grosso     3567234
25                Goiás     7206589
26     Distrito Federal     3094325

In [87]:
popdf['year'] = 2022
popdf

                  state  population  year
0              Rondônia     1815278  2022
1                  Acre      906876  2022
2              Amazonas     4269995  2022
3               Roraima      652713  2022
4                  Pará     8777124  2022
5                 Amapá      877613  2022
6             Tocantins     1607363  2022
7              Maranhão     7153262  2022
8                 Piauí     3289290  2022
9                 Ceará     9240580  2022
10  Rio Grande do Norte     3560903  2022
11              Paraíba     4059905  2022
12           Pernambuco     9674793  2022
13              Alagoas     3365351  2022
14              Sergipe     2338474  2022
15                Bahia    14985284  2022
16         Minas Gerais    21411923  2022
17       Espírito Santo     4108508  2022
18       Rio de Janeiro    17463349  2022
19            São Paulo    46649132  2022
20               Paraná    11597484  2022
21       Santa Catarina     7338473  2022
22    Rio Grande do Sul    11466630  2022
23   Mato Grosso do Sul     2839188  2022
24          Mato Grosso     3567234  2022
25                Goiás     7206589  2022
26     Distrito Federal     3094325  2022

## Main Loop

Now let's extract all population data. It only makes sense to extract population data 2015-present, since that is how far back the natality data goes.

In [101]:
# define processing steps
def process_drop_unused_cols(df):
    df = df.drop(columns = 'Unnamed: 1')
    return df

def process_rename_cols(df):
    df.columns = 'state', 'population'
    return df

def process_change_type(df):
    try:
        df['population'] = df['population'].astype(int)
    except ValueError:  # invalid format for auto converting string to int
        regex_pat = r'((?:\d?\d?\d\.?)*\d?\d?\d)\s?\(.+\)'
        
        df['population'] = df['population'].astype('str').str.strip().str.replace(
            regex_pat, r'\1',
            regex = True
        ).str.replace('.','', regex = False)
        df['population'] = df['population'].astype(int)
    print(df)
    return df

def process_remove_regions(df):
    regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
    df = (df
        .drop(df.index[regions_mask])
        .reset_index(drop = True)
    )
    
    return df

def process_add_year(df, year):
    df['year'] = year
    return df

def process_reorder_cols(df):
    new_order = ['year', 'state', 'population']
    df = df.reindex(columns = new_order)
    return df

def process_df(df_raw, year):
    df_raw = df_raw.copy()

    df = (df_raw
        .pipe(process_drop_unused_cols)
        .dropna()
        .pipe(process_rename_cols)
        .pipe(process_change_type)
        .pipe(process_remove_regions)
        .pipe(process_add_year, year)
        .pipe(process_reorder_cols)
    )

    return df

In [93]:
# config for Excel extraction

pop_raw_data = {
    2015: {
        'file': r'estimativa_TCU_2015_20170614.xls',
        'sheet': 'BRASIL_E_UFs'
    },
    2016: {
        'file': r'estimativa_TCU_2016_20170614.xls',
        'sheet': 'BRASIL E UFs'
    },
    2017: {
        'file': r'POP2017_20220905.xls',
        'sheet': 'BRASIL_E_UFs'
    },
    2018: {
        'file': r'POP2018_20220905.xls',
        'sheet': 'BRASIL E UFs'
    },
    2019: {
        'file': r'POP2019_20220905.xls',
        'sheet': 'BRASIL E UFs'
    },
    2020: {
        'file': r'POP2020_20220905.xls',
        'sheet': 'BRASIL E UFs'
    },
    2021: {
        'file': r'POP2021_20221212.xls',
        'sheet': 'BRASIL E UFs'
    },
    2022: {
        'file': r'POP2022_Brasil_e_UFs.xls',
        'sheet': 'BRASIL E UFs'
    },
}

In [103]:
# main loop for concatenating all years

path = r'../data/external'

# dataframe accumulator
popdf = None

for year, data in pop_raw_data.items():
    fn = data['file']
    sheet_name = data['sheet']
    
    abspath = os.path.abspath(os.path.join(path, fn))
    popdf_raw = pd.read_excel(abspath, sheet_name = sheet_name, skiprows = 1)
    popdf_single = process_df(popdf_raw, year)

    
    if popdf is None: # first batch of data
        popdf = popdf_single
    else: # accumulator already has some data in it
        popdf = pd.concat([popdf, popdf_single])

popdf = (popdf
    .sort_values(by = ['year', 'state'])
    .reset_index(drop = True)
)

popdf

                  state  population
0                Brasil   204450649
1          Região Norte    17472636
2              Rondônia     1768204
3                  Acre      803513
4              Amazonas     3938336
5               Roraima      505665
6                  Pará     8175113
7                 Amapá      766679
8             Tocantins     1515126
9       Região Nordeste    56560081
10             Maranhão     6904241
11                Piauí     3204028
12                Ceará     8904459
13  Rio Grande do Norte     3442175
14              Paraíba     3972202
15           Pernambuco     9345173
16              Alagoas     3340932
17              Sergipe     2242937
18                Bahia    15203934
19       Região Sudeste    85745520
20         Minas Gerais    20869101
21       Espírito Santo     3929911
22       Rio de Janeiro    16550024
23            São Paulo    44396484
24           Região Sul    29230180
25               Paraná    11163018
26       Santa Catarina     6819190
27    Rio Grande do Sul    11247972
28  Região Centro-Oeste    15442232
29   Mato Grosso do Sul     2651235
30          Mato Grosso     3265486
31                Goiás     6610681
32     Distrito Federal     2914830
                  state  population
0                Brasil   206081432
1          Região Norte    17707783
2              Rondônia     1787279
3                  Acre      816687
4              Amazonas     4001667
5               Roraima      514229
6                  Pará     8272724
7                 Amapá      782295
8             Tocantins     1532902
9       Região Nordeste    56915936
10             Maranhão     6954036
11                Piauí     3212180
12                Ceará     8963663
13  Rio Grande do Norte     3474998
14              Paraíba     3999415
15           Pernambuco     9410336
16              Alagoas     3358963
17              Sergipe     2265779
18                Bahia    15276566
19       Região Sudeste    86356952
20         Minas Gerais    20997560
21       Espírito Santo     3973697
22       Rio de Janeiro    16635996
23            São Paulo    44749699
24           Região Sul    29439773
25               Paraná    11242720
26       Santa Catarina     6910553
27    Rio Grande do Sul    11286500
28  Região Centro-Oeste    15660988
29   Mato Grosso do Sul     2682386
30          Mato Grosso     3305531
31                Goiás     6695855
32     Distrito Federal     2977216
                  state  population
0                Brasil   207660929
1          Região Norte    17936201
2              Rondônia     1805788
3                  Acre      829619
4              Amazonas     4063614
5               Roraima      522636
6                  Pará     8366628
7                 Amapá      797722
8             Tocantins     1550194
9       Região Nordeste    57254159
10             Maranhão     7000229
11                Piauí     3219257
12                Ceará     9020460
13  Rio Grande do Norte     3507003
14              Paraíba     4025558
15           Pernambuco     9473266
16              Alagoas     3375823
17              Sergipe     2288116
18                Bahia    15344447
19       Região Sudeste    86949714
20         Minas Gerais    21119536
21       Espírito Santo     4016356
22       Rio de Janeiro    16718956
23            São Paulo    45094866
24           Região Sul    29644948
25               Paraná    11320892
26       Santa Catarina     7001161
27    Rio Grande do Sul    11322895
28  Região Centro-Oeste    15875907
29   Mato Grosso do Sul     2713147
30          Mato Grosso     3344544
31                Goiás     6778772
32     Distrito Federal     3039444

C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)

                  state  population
0                Brasil   208494900
1          Região Norte    18182253
2              Rondônia     1757589
3                  Acre      869265
4              Amazonas     4080611
5               Roraima      576568
6                  Pará     8513497
7                 Amapá      829494
8             Tocantins     1555229
9       Região Nordeste    56760780
10             Maranhão     7035055
11                Piauí     3264531
12                Ceará     9075649
13  Rio Grande do Norte     3479010
14              Paraíba     3996496
15           Pernambuco     9496294
16              Alagoas     3322820
17              Sergipe     2278308
18                Bahia    14812617
19       Região Sudeste    87711946
20         Minas Gerais    21040662
21       Espírito Santo     3972388
22       Rio de Janeiro    17159960
23            São Paulo    45538936
24           Região Sul    29754036
25               Paraná    11348937
26       Santa Catarina     7075494
27    Rio Grande do Sul    11329605
28  Região Centro-Oeste    16085885
29   Mato Grosso do Sul     2748023
30          Mato Grosso     3441998
31                Goiás     6921161
32     Distrito Federal     2974703
                  state  population
0                Brasil   210147125
1          Região Norte    18430980
2              Rondônia     1777225
3                  Acre      881935
4              Amazonas     4144597
5               Roraima      605761
6                  Pará     8602865
7                 Amapá      845731
8             Tocantins     1572866
9       Região Nordeste    57071654
10             Maranhão     7075181
11                Piauí     3273227
12                Ceará     9132078
13  Rio Grande do Norte     3506853
14              Paraíba     4018127
15           Pernambuco     9557071
16              Alagoas     3337357
17              Sergipe     2298696
18                Bahia    14873064
19       Região Sudeste    88371433
20         Minas Gerais    21168791
21       Espírito Santo     4018650
22       Rio de Janeiro    17264943
23            São Paulo    45919049
24           Região Sul    29975984
25               Paraná    11433957
26       Santa Catarina     7164788
27    Rio Grande do Sul    11377239
28  Região Centro-Oeste    16297074
29   Mato Grosso do Sul     2778986
30          Mato Grosso     3484466
31                Goiás     7018354
32     Distrito Federal     3015268
                  state  population
0                Brasil   211755692
1          Região Norte    18672591
2              Rondônia     1796460
3                  Acre      894470
4              Amazonas     4207714
5               Roraima      631181
6                  Pará     8690745
7                 Amapá      861773
8             Tocantins     1590248
9       Região Nordeste    57374243
10             Maranhão     7114598
11                Piauí     3281480
12                Ceará     9187103
13  Rio Grande do Norte     3534165
14              Paraíba     4039277
15           Pernambuco     9616621
16              Alagoas     3351543
17              Sergipe     2318822
18                Bahia    14930634
19       Região Sudeste    89012240
20         Minas Gerais    21292666
21       Espírito Santo     4064052
22       Rio de Janeiro    17366189
23            São Paulo    46289333
24           Região Sul    30192315
25               Paraná    11516840
26       Santa Catarina     7252502
27    Rio Grande do Sul    11422973
28  Região Centro-Oeste    16504303
29   Mato Grosso do Sul     2809394
30          Mato Grosso     3526220
31                Goiás     7113540
32     Distrito Federal     3055149

C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)

                  state  population
0                Brasil   213317639
1          Região Norte    18906962
2              Rondônia     1815278
3                  Acre      906876
4              Amazonas     4269995
5               Roraima      652713
6                  Pará     8777124
7                 Amapá      877613
8             Tocantins     1607363
9       Região Nordeste    57667842
10             Maranhão     7153262
11                Piauí     3289290
12                Ceará     9240580
13  Rio Grande do Norte     3560903
14              Paraíba     4059905
15           Pernambuco     9674793
16              Alagoas     3365351
17              Sergipe     2338474
18                Bahia    14985284
19       Região Sudeste    89632912
20         Minas Gerais    21411923
21       Espírito Santo     4108508
22       Rio de Janeiro    17463349
23            São Paulo    46649132
24           Região Sul    30402587
25               Paraná    11597484
26       Santa Catarina     7338473
27    Rio Grande do Sul    11466630
28  Região Centro-Oeste    16707336
29   Mato Grosso do Sul     2839188
30          Mato Grosso     3567234
31                Goiás     7206589
32     Distrito Federal     3094325
                  state  population
0                Brasil   207750291
1          Região Norte    17834762
2              Rondônia     1616379
3                  Acre      829780
4              Amazonas     3952262
5               Roraima      634805
6                  Pará     8442962
7                 Amapá      774268
8             Tocantins     1584306
9       Região Nordeste    55389382
10             Maranhão     6800605
11                Piauí     3270174
12                Ceará     8936431
13  Rio Grande do Norte     3303953
14              Paraíba     4030961
15           Pernambuco     9051113
16              Alagoas     3125254
17              Sergipe     2211868
18                Bahia    14659023
19       Região Sudeste    87348223
20         Minas Gerais    20732660
21       Espírito Santo     3975100
22       Rio de Janeiro    16615526
23            São Paulo    46024937
24           Região Sul    30685598
25               Paraná    11835379
26       Santa Catarina     7762154
27    Rio Grande do Sul    11088065
28  Região Centro-Oeste    16492326
29   Mato Grosso do Sul     2833742
30          Mato Grosso     3784239
31                Goiás     6950976
32     Distrito Federal     2923369

C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)
C:\Users\bdzp\AppData\Local\Temp\ipykernel_29304\1694074581.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  regions_mask = df['state'].str.contains(r'((B|b)rasil|(R|r)egi)', regex = True)

     year           state  population
0    2015            Acre      803513
1    2015         Alagoas     3340932
2    2015           Amapá      766679
3    2015        Amazonas     3938336
4    2015           Bahia    15203934
..    ...             ...         ...
211  2022         Roraima      634805
212  2022  Santa Catarina     7762154
213  2022         Sergipe     2211868
214  2022       São Paulo    46024937
215  2022       Tocantins     1584306

[216 rows x 3 columns]

In [104]:
popdf[popdf['state'].str.contains('aulo')]

     year      state  population
25   2015  São Paulo    44396484
52   2016  São Paulo    44749699
79   2017  São Paulo    45094866
106  2018  São Paulo    45538936
133  2019  São Paulo    45919049
160  2020  São Paulo    46289333
187  2021  São Paulo    46649132
214  2022  São Paulo    46024937

In [105]:
# save processed dataframe to parquet file
path = r'../data/processed'
fn = r'brazil_population_state_annually.parquet'

abspath = os.path.abspath(os.path.join(path, fn))

popdf.to_parquet(abspath)